.container-fluid{
    min-height: 100vh;
}

.b-container-preload{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

nav, #nav-wrapper, #nav-mobile{
    background-color: rgba(91,155,213,1);
}
