<nav>
    <div class="nav-wrapper green">
        <a href="/" class="brand-logo left">&nbsp;&nbsp;b-jrm</a>
        <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#"><i class="tiny material-icons left">contacts</i>Perfil</a></li>
            <li><a href="#"><i class="tiny material-icons left">apps</i>Proyectos</a></li>
            <li><a href="#"><i class="tiny material-icons left">wrap_text</i>Entorno de desarrollo</a></li>
            <li><a class="waves-effect waves-light btn">Contactar <i class="tiny material-icons right">phone</i></a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#"><i class="tiny material-icons left">contacts</i>Perfil</a></li>
    <li><a href="#"><i class="tiny material-icons left">apps</i>Proyectos</a></li>
    <li><a href="#"><i class="tiny material-icons left">wrap_text</i>Entorno de desarrollo</a></li>
    <li><a class="waves-effect waves-light btn">Contactar <i class="tiny material-icons right">phone</i></a></li>
</ul>